
/* Dealing with CSS Defaults and font-face */
@font-face {
	font-family: "Myriad";
	src: url('fonts/MyriadPro-Regular.otf');
}

* {
	font-family: Myriad;
	margin: 0;
	padding: 0;
	color: #666;
}
a {
	color: inherit;
	text-decoration: none;
}
li {
	list-style-type: none;
}
h1, h2, h3, h4 {
	color: #3d91ff;
}
body {
	min-width: 900px;
}

/* Login Popup */
div.banner_elem {
	max-width: 240px;
	margin: 25px;
	text-align: center;
	display: inline-block;
}

input, .login {
	font-size: 20px;
	padding:10px;
    border: 1px #000000;
 /*   -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;*/
    -webkit-box-shadow: 0px 0px 2px 0px #141414;
	-moz-box-shadow: 0px 0px 2px 0px #141414;
	box-shadow: 0px 0px 2px 0px #141414;
    font-size: 20px;
    padding: 4px 7px;
    outline: 0;
    -webkit-appearance: none;
    background-color:#ffffff;
    width:400px;

	display:block;
	float:center;
	margin:auto;
	margin-top:10px;
	margin-bottom:10px;
}
input:focus {
    border-color: #3d0099;
}

input.submit {
	width:160px;
	background-color:#e6e6e6;
}

input.submit:hover {
	cursor:pointer;
	cursor:hand;
	background-color:#fff;
}
input.center-input {
	text-align:center;
}
.popup_wrapper {
	position: fixed;
	left: 50%;
	top: 30%;
	z-index: 1000;
}
.popup_signin, .popup_register{
	color: white;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.8);
	z-index:10;
	position:relative;
	left: -50%;
	top: -50%;
	width: 600px;
}
.popup_inner {
	width: 500px;
	padding: 50px 50px 40px 50px;
	border-top: 4px solid #3d91ff;
	-webkit-box-shadow: 0px 0px 8px 0px #141414;
	-moz-box-shadow: 0px 0px 8px 0px #141414;
	box-shadow: 0px 0px 8px 0px #141414;
}
.popup_inner h2 {
	margin-left: 46px;
}
.popup_inner input {
	border-top: 3px solid #3d91ff;
}

.popup_inner input.submit {
	border-top: none;
}
/* LeftNav */
.container {
	max-width: 900px;
	margin: auto;
	text-align: left;
	height: 0;
}
.leftnav {
	width: 200px;
	background-color: #fff;
	z-index: -10;
	padding-top: 80px;
	display: inline-block;
	height: 100vh;
}
.leftnav ul li {
	border-top: 1px solid #e6e6e6;
	margin: 0;
	padding-left: 10px;;
	width: 100%;
	min-height: 50px;
	list-style-type:none;
	line-height: 50px;
	border-left: none;
}
.leftnav ul li:hover {
	color: #3d91ff;
	padding-left: 7px;
	border-left: 3px solid #3d91ff;
}
.content {

	border-left: 1px solid #e6e6e6;
	border-top: 1px solid #e6e6e6;
	display: inline-block;
	min-height: 100vh;
	margin: 80px 0px 100px 40px;
	width: 600px;
	position: absolute;
	top: 0;
	z-index: -10;
}
.content h1 {
	padding: 20px 20px 20px 24px;
	font-weight: 300;
	font-size: 36px;
}

/* transactionBars */
.transaction {
	border-top: 1px solid #e6e6e6;
}
.transaction-left {
	width: 78%;
	display: inline-block;
	padding: 16px 0px 20px 24px;
}
.transaction-right {
	width: 10%;
	float: right;
	height: 80%;
	display: inline-block;
	padding: 24px 0 0 0;

}
.transaction-left:hover {
	border-left: 2px solid #3d91ff;
	padding-left: 22px;

}
.transaction-right-bottom {
	display: inline-block;
	height: 10%;
	width: 60px;
	margin-right: -50px;
	margin-left: 18px;
}
.transaction h2 {
	font-weight: 300;
	margin-bottom: 10px;
}
.transaction p {
	line-height: 1.4;
}
.noticebar {
	padding: 20px 20px 20px 24px;
	border-top: 1px solid #e6e6e6;
}
.fa-heart {
	color: inherit;
	font-size: 18px;
}
.likable:hover {
	color: red;
}
.fa-btc {
	float: right;
	margin-right: 10px;
	line-height: 50px;
	color: inherit;
	font-size: 20px;
}
.timestamp {
	font-size: 14px;
}


/* Left navigation bar */
.description {
	color: #666;
	font-size: 24px;
}
.wrapper {
	/*min-width: 1000px;*/
	/*min-height: 80vh;*/
}
.home-container {
	max-width: 900px;
	margin: auto;
	padding: 0px 2.5% 0px 2.5%;

}
.home-inner {
	margin-top: 20%;
}
.header {
	font-size: 56px;
}
/* Profile */
.inline {
	display: inline;
	line-height: 50px;
}
/* (Errors and successes) Banner */
.banner {
	width: 95%;
	line-height: 50px;
	/*background-color: #ff5959;*/
	background-color: #666666;
	color: #fff;
	height: 50px;
	-webkit-box-shadow: 0px 2px 8px 0px #141414;
	-moz-box-shadow: 0px 2px 8px 0px #141414;
	box-shadow: 0px 2px 8px 0px #141414;
	padding: 0px 2.5% 0px 2.5%;
	margin-top: 54px;
	z-index: 50;
}
.flashed_messages {
	max-width: 900px;
	margin: auto;
}
.flashed_messages p {
	color: #fff;
}
/* Navigation Bar */
.nav {
	width: 95%;
	line-height: 50px;
	border-top: 4px solid #3d91ff;
	color: #3d91ff;
	height: 53px;
	border-bottom: 1px solid #e6e6e6;
	padding: 0px 2.5% 0px 2.5%;
	position: fixed;
	background-color: #fff;
	top: 0;

}
.nav-inner {
	max-width: 900px;
	margin: auto;
}

.nav-left {
	display: inline-block;
	float: left;
}

.nav-right {
	display: inline-block;
	float: right;
}

ul.ul-nav li{
	list-style-type: none;
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
	border-bottom: none;
}
ul.ul-nav li:hover{
	border-bottom: 3px solid #3d91ff;
	color: #3d91ff;
}

/* Footer */
.footer {
	width: 100%;
	text-align: center;
	background-color: #e6e6e6;
	line-height: 50px;
	position: relative;
	bottom: 0;
}