{% extends "nav.html" %}

{% block content %}

<div class="home-container">
	<div class="home-inner">
		<div class="home-left">
			<h1 class="header">Fast and Secure.</h1>
			<p class="description">With BitMonster, your payments will never be easier.</p>
		</div>
		<div class="home-right">
			<div class="macbook">
				<img src="../static/images/screenshot_for_mbp.png" width="586px"height="368px"/>
			</div>
		</div>
	</div>

	<h1 class="sometitle">Secure and fast payments</h1>

	<div class="boxes-wrapper">
		<div class="box">
			<img src="../static/images/bitcoin66.png" width="140px" height="140px"/>
			<p>Secure bitcoin wallet payments. Easily transfer funds between different wallets and pay others quickly and securely.</p>
		</div>
		<div class="box">
			<img src="../static/images/bitcoin37.png" width="140px" height="140px"/>
			<p>Track realtime transactions between users across the world. Be ready to pay when the time is right.</p>
		</div>
		<div class="box">
			<img src="../static/images/bitcoin78.png" width="140px" height="140px"/>
			<p>Track your past transactions and wallet safely and securely.  Your identity will never be shared with other users.</p>
		</div>
	</div>




	<div class="footer">
		<p>Icons by <a href="http://www.freepik.com" title="Freepik">Freepik</a> && <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>. Licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC 3.0</a></p>
	</div>
	<div class="footer">

		<p>BitMonster | Built at CalHacks 2015</p>
	</div>

</div>

{% endblock %}