<!DOCTYPE html>
<html lang="en">
<head>
	<title>BitMonster | {{ title }}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/stylesheet.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

</head>

<body>
	<div class="wrapper">
		{% block nav %}{% endblock %}
	</div>


	<!-- <div class="footer">
		<p>BitMonster | Built at CalHacks 2015</p>
	</div> -->
</body>

</html>